
.title-slide{
  padding: 10px 64px 10px 64px;
  width: 100%;
  height: 100%;
}

.title-slide{
  background-color: rgb(79, 89, 97);

}

.title-slide, .title-slide h1{
  color: rgb(255,185,72);
  font-weight: 800;
}

.title-slide, h2 {
  color: rgb(125,34,57);
  font-weight: 800;

}

.title-slide h3{
  color: #FFFFFF;
  font-weight: 400;
  line-height: 0.2em;
  webkit-text-stroke: 1px black;

}

.title-slide{
   background-image: url(UoG_keyline.png);
  background-size: 15%;
  background-position: 95% 90%;
}
